body{
    height:100vh;
}

.wrapper {
background-color: lightgoldenrodyellow;
color: darkblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
font-size: 1rem;
}
.navblock {
    background-color: darkblue
    color: lightgoldenrodyellow;
    float: right;
                display: block;
                width: 10%;
    }
h1 {
    font-size: 4rem;
}

.submitButton{
    font-size:24px;
    width:10vw;
    padding:2px;
    margin-top:5px;
}
footer{
  
}